SUPABASE_URL=
SUPABASE_ANON_KEY=
RAVELRY_CLIENT_ID=
RAVELRY_AUTHORIZE_URL=https://www.ravelry.com/oauth/authorize
RAVELRY_REDIRECT_URI_SCHEME=lupilup://oauth/ravelry
SUPABASE_RAVELRY_EXCHANGE_FUNCTION=ravelry-exchange-token

