# Flutter / Dart / IDE
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.env
.idea/
*.iml
build/
coverage/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Flutter/ephemeral/
android/.gradle/
android/local.properties
